*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-image: linear-gradient(to left,black,black);
}
.panel{
    background-image: linear-gradient(to bottom,rgb(31, 153, 116),rgb(22, 22, 207));
    height: 100vh;
    border: 5px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.panel-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3272d1;
    overflow: hidden;
    border-left: 4px solid gray;
}
.textinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bla{
    font-size: 3rem;
    font-weight: bold;
}
.down-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    background-image: linear-gradient(160deg, rgba(0,110,255,.25)0%,rgba(9,255,0,.25)100%);
}
.bla-down{
    font-size: 2rem;
}
.author{
    font-size: 4rem;
    animation: 5s authormove  linear infinite;
}
@keyframes authormove {
    0%{color: red;}
    10%{color: rgb(236, 12, 12);}
    20%{color: rgb(218, 28, 28);}
    30%{color: rgb(180, 6, 6);}
    40%{color: rgb(247, 115, 115);}
    50%{color: rgb(255, 102, 0);}
    60%{color: rgb(255, 196, 0);}
    70%{color: rgb(238, 255, 0);}
    80%{color: rgb(229, 255, 0);}
    90%{color: rgb(179, 255, 0);}
    100%{color: rgb(157, 255, 0);}
}
 .menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fas{
    font-size: 11rem;
    color: white;
    transition: .3s linear;
}
.fas:hover{
    color: red;
}
.active{
    text-decoration: none;
    transition: .3s linear;
}
.active:hover{
    color: red;
}
.box-set{
    background-image: linear-gradient(180deg,rgb(85, 81, 109)0%,rgb(31, 39, 8)100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.letus{
    font-size: 3rem;
}
.stat-set{
    border: 2px solid black;
    border-radius: 10px;
}
.database{
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    width: 95%;
    margin-left: 2.5%;
}
.sex{
border: 2px solid blue;
}