*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-image: linear-gradient(to left,black,black);
}
.panel{
    background-image: linear-gradient(to bottom,rgb(31, 153, 116),rgb(22, 22, 207));
    height: 100vh;
    border: 5px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}